/* Colors 

$primary-color: #FF606;
$secondary-color: #FFFFF;
$third-color: #f6f6f6;

*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
$main-font: "Montserrat", sans-serif;


/* Fonts weight */
$thin: 300;
$regular: 400; 
$semi-bold: 500;
$bold: 700;

/* Loader colors 

$orange-color: #ff6060;
$darkorange-color: #;

$loader-colors: (
1: $orange-color,
2: $darkorange-color,
);
*/