@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';


.error {
    @include flex-container(column, center, center, initial);
    margin: 0 auto;
    width: 100%;
    background-color: $white-color;
    color: $orange-color;
    padding: 15px 35px;
    box-sizing: border-box;  

    h2 {
        font-size: 130px;
        font-weight: 700;
        padding-bottom: 80px;

    @include tablet {
        font-size: 150px;
        font-size: 200px;
    }

    @include desktop {
        font-size: 250px;
    }
    }

    .error_text {
        text-align: center;
        font-size: 22px;
        padding-bottom: 80px;

        @include tablet {
            font-size: 25px;
        }
    
        @include desktop {
            text-align: left;
            font-size: 36px;
            padding-bottom: 80px;
        }
    }

    .error_return {
        text-align: center;
        color: black;
        font-size: 15px;
        padding-bottom: 130px;
        text-decoration: underline;

        &:hover {
            font-size: 16px;
            text-decoration: none; 
            padding-bottom: 129px;
            font-weight: 500;
        }
    }
}
