* {
    margin: 0;
    padding: 0;
}

body {
    margin : 0px;
    padding : 0px;
    background-color: white;
    font-family: $main-font;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}