@import '../../scss/utils/mixins';

.first_container {
    margin: 75px 30px 30px 30px;

    @include mobile {
        margin: 40px 20px 20px 20px;
    }

    @include desktop {
        margin: 75px 30px 30px 30px;
    }
}

.btn_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    @include mobile {
        width: 100%;
        padding-bottom: 20px;
    }

    @include tablet {
        width: 1023px;
    }

    &.clicked {
        background-color: #f6f6f6;
        height: 85px;
        padding-bottom: 45px;
        margin-bottom: 30px;
    }

    &__description {
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 15px;
        width: 1023px;
        margin-left: 26px;
        width: 90%;
    }
}

.btn-about {
    display: flex;
    align-items: center;
    background-color: #FF6060; 
    text-align: left;
    color: white; 
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    width: calc(100% - 40px);
    border-radius: 5px;

    @include mobile {
        margin: 20px 20px 20px 20px;
        width: calc(100% - 40px); // Adjusted for mobile, considering 20px margin on both sides
    }


    img {
        width: 20px;
        height: 25px;
        margin-left: auto;
        transform: rotate(270deg);
        transform-origin: center;
        transition: transform 0.3s ease;  

        @include mobile {
            margin-left: 185px;
        }

        @include desktop {
            margin-left: auto;
        }
    }

    &.clicked img {
        transition: transform 0.8s ease;
        transform: rotate(90deg);
    }
}