.first_container {
    margin: 30px;
}

.btn_container {
    @include flex-container(column, center, center);
    width: 1023px;
    margin: 0 auto;

    &.clicked {
        background-color: $third-color; // Use the third color from extends.scss
        height: 85px;
        padding-bottom: 35px;

        .btn-about img {
            transform: rotate(270deg);
        }
    }
}

.btn-about {
    @include button_styles-about; // Use the mixin for button styles
    width: 1023px;
    border-radius: 5px;

    img {
        @include rotate(270deg); // Use the mixin for rotation
        transition: transform 0.3s ease; 
    }

    &.clicked img {
        transition: transform 0.8s ease;
        transform: rotate(90deg);
    }
}

p {
    @include common-text-left; // Use the mixin for common text styles
    color: $primary-color; // Use the primary color from extends.scss
    width: 1023px;
    font-size: 15px;
}
