@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.accommodation_page {
    @include flex-container(column, initial, initial, initial);
    margin: auto;
    max-width: 767px;

    @include desktop { 
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 1240px;
    } 

    .accommodation-card {
        @include flex-container(column, initial, space-between, initial);
        margin-bottom: 0;
        margin-top: 0px;
        gap: 10px;
        padding: 0px 15px 0px 15px;

    @include tablet { 
        @include flex-container(row, space-between, initial, 30px);
        margin-top: 35px;
        gap: 30px;
    }

    @include desktop { 
        @include flex-container(row, space-between, initial, 30px);
        margin-top: 35px;
        gap: 30px;
    }

    &__acc_infos {
        @include flex-container(column, initial, initial, 5px);
        margin: 0;
        gap : 5px;

    &__title {
        @include typography($size: 30px, $weight: $semi-bold);
        color: $orange-color;
    }
    
    &__location {
        color: black;
        font-weight: $semi-bold;
    } 
    }

    &__tags-container {
        @include flex-container(row, initial, initial, 10px);

    .tag {
        @include flex-center;
        background-color: $orange-color;
        color: $white-color; 
        text-align: center; 
        font-size: 12px;
        font-weight: $semi-bold;
        border: none;
        outline: none;
        padding: 12px;
        margin: 20px 0px;
        width: 95px;
        height: 15px;
        @include border-radius;
        @include transition(box-shadow 0.3s ease);

            &:hover {
                @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.5));
            }
        }
    }
    
    &__host_infos {
        @include flex-container(row-reverse, initial, center, initial);
        color: $orange-color;
        gap: initial;
        justify-content: space-between;
        
    @include tablet { 
        @include flex-container(column, flex-end, center, initial);
        margin: 10px 0;
    }

    @include desktop { 
        @include flex-container(column, flex-end, center, initial);
        margin: 10px 0;
    }

    &__important{
        @include flex-center;
    }

    &__name {
        color: $orange-color;
        @include typography($size: 15px, $weight: $semi-bold);
        text-align: right;
        width: 50%;
        margin-right: 10px;
        line-height: 18px;
    }

    &__picture {
        border-radius: 50%;
        height: 60px;
        width: 60px;

        @include desktop { 
            height: 80px;
            width: 80px;
        }
    }
        
    &__rating {
    @include flex-container(row, space-between, center, initial);
    padding: 15px 0 15px 0; 
    }
    }
}

    .collapse_container {
        @include flex-container(column, initial, space-between, 15px);
        padding: 0px 15px 0px 15px;

    @include tablet { 
        @include flex-container(column, initial, space-between, 15px);
    }
    
    @include desktop { 
        @include flex-container(row, initial, flex-start, 175px);
    }

    .buttons-container{
        padding-bottom: 0px;
        
    @include desktop { 
        padding-bottom: 30px;
    }
    }

    &__infos {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        background-color: $orange-color; 
        color: $white-color;
        text-align: left;
        @include typography($size: 20px, $weight: $semi-bold);
        border: none;
        outline: none;
        padding: 10px;
        margin: 20px 0px;
        width: 320px;
        @include border-radius;
        @include transition(box-shadow 0.3s ease);

    @include tablet { 
        width: 560px;
    }

    @include desktop { 
        display: flex;
        align-items: flex-start;
        position: relative;
        text-align: left;
        width: 475px;
    }

        &:hover {
            @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.5));
        }

    img.arrowUp, img.arrowDown {
        width: 20px;
        height: 25px;
        margin-left: 155px;
        align-self: center;

    @include tablet { 
        margin-left: 405px;
    }

    @include desktop { 
        margin-left: 320px;
    }
    }

    &_content {
        @include flex-container(column, initial, initial, initial);
        @include typography($size: 15px);
        background-color: $lightgrey-color;
        color: black;
        padding: 40px 37px 30px 15px;
        margin-top: -45px;
        margin-left: 0;
        margin-bottom: 30px;
        width: 83%;
        @include border-radius($radius : 10px);


    @include tablet { 
        width: 72%;
    }

    @include desktop { 
        width: 85%;
    }
    }
    }
}
}
