@import '../../scss/utils/mixins';

.accommodation_page {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 1240px;


  /*  @include mobile {
        padding: 27px 20px 37px;
        max-width: 768px;
    }

    @include desktop { 
        margin: 0;
        max-width: 1240px;
        padding: 0px 20px;
        width: 100%;
    } */


.accommodation-card {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    gap: 30px;


   /*  &__infos-container {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        margin-top: 24px;
        margin : 0;
    } */

    &__acc_infos {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap : 5px;

        &__title {
            font-size: 30px;
            color: #FF6060;
            font-weight: 500;
        }
        
        &__location {
            color: black;
            font-weight: 500;
        }
        
    }

    &__tags-container {
        display: flex;
        white-space: nowrap;
        gap: 10px;

        .tag {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FF6060;
            color: white; 
            text-align: center; 
            font-size: 12px;
            font-weight: 500;
            border: none;
            outline: none;
            padding: 12px;
            margin: 20px 0px;
            width: 95px;
            height: 15px;
            border-radius: 5px;
            transition: box-shadow 0.3s ease; 

                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }
        }
    }
    
    &__host_infos {
        color: #FF6060;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin: 10px 0 10px 0;

        &__important{
            display: flex;
            align-items: center;
        }

        &__name {
            color: #FF6060;
            text-align: right;
            font-size: 15px;
            font-weight: 500;
            width: 50%;
            margin-right: 10px;
            line-height: 18px;
        }

        &__picture {
            border-radius: 50%;
            height: 80px;
            width: 80px;
        }
        

        &__rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0 15px 0; 
        }
    }
}

    .collapse_container {
        display: flex;
        align-self: center;
        gap: 175px;

        .buttons-container{
            padding-bottom: 30px;
        }

        &__infos {
            display: flex;
            align-items: flex-start;
            position: relative;
            background-color: #FF6060; 
            text-align: left;
            font-size: 20px;
            font-weight: 500;
            color: white; 
            border: none;
            outline: none;
            padding: 10px;
            margin: 20px 0px;
            width: 475px;
            border-radius: 5px; 
            transition: box-shadow 0.3s ease; 

                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }

            img.arrowUp, img.arrowDown {
                width: 20px;
                height: 25px;
                margin-left: 320px;
            }

        &_content {
            display: flex;
            text-align: left;
            font-size: 15px;
            background-color: #F6F6F6;
            color: black;
            padding: 40px 37px 30px 15px;
            margin-top: -45px;
            margin-left: 0;
            width: 83%;
        }
    }
}

}
