@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.header {
    @include flex-container(row, space-between, center, initial);
        gap: initial;
        height: fit-content;
        margin: auto;
        background-color: $white-color;
        padding: 40px 35px;
        margin: 0 0px 0 -15px;
        max-width: 370px;
        width: 100%;
        box-sizing: border-box;

    @include tablet {
        max-width: 745px;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        gap: initial;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        background-color: #fff;
        padding: 40px 35px;
        width: 100%;
        max-width: 1240px;  
    }

    img {
        height: 36px;
        align-self: center;
        text-align: center;

        @include tablet {
            height: 38px;
        }

        @include desktop {
            height: 40px;
        }

    }

    nav {
        display: flex;
        align-self: center;
        text-align: center;
        gap: 13px;
        font-size: 16px;
        text-transform: uppercase;

        @include tablet {
            font-size: 18px;
            text-transform: uppercase;
            gap: 13px;
        }

        @include desktop {
            text-transform: capitalize;
            gap: 20px;
            font-size: 20px;
            color: black;
        }

        @include desktop-large {
        }

        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: black;
                    text-decoration: underline;
            }

            &.active{
                text-decoration: underline;
            }

            @include tablet {
                &:hover {
                    color: black;
                    text-decoration: underline;
                } 

            @include desktop {
                text-decoration: none;
                color: black;

                &:hover {
                    color: $orange-color;
                    text-decoration: none;
                }
            }
    
            @include desktop-large {
                &:hover {
                    color: $orange-color;
                    text-decoration: none;
                }
            }

        }
    }

}
}