@import '../../scss/utils/mixins';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 110px;
    width: 90%;
    background-color: #FFFFFF;
    text-transform: none;


    @include mobile {
        padding: 40px 35px;
        margin: 0 0px 0 -15px;
    }

    @include tablet {
    }

    @include desktop {
        padding: 50px 110px;
        width: 90%;
    }

    img {
        height: 40px;

        @include mobile {
            height: 36px;
        }

        @include tablet {
            height: 38px;
        }
    }

    nav {
        display: flex;
        gap: 20px;
        font-size: 20px;
        color: black;

        @include mobile {
            font-size: 16px;
            text-transform: uppercase;
            gap: 13px;
        }

        @include tablet {
            font-size: 18px;
            text-transform: uppercase;
            gap: 13px;
        }

        @include desktop {
            text-transform: none;
            font-size: 20px;
        }

        @include desktop-large {
            text-transform: none;
            font-size: 20px;
        }

        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: #FF6060;
            }

            @include mobile {
                &:hover {
                    color: black;
                    text-decoration: underline;
            }
    
            @include tablet {
                &:hover {
                    color: black;
                    text-decoration: underline;
            }
        }

        @include desktop {
            &:hover {
                color: #FF6060;
                text-decoration: none;
            }
        }

        @include desktop-large {
            &:hover {
                color: #FF6060;
                text-decoration: none;
            }
        }
    
        }
    }

}
}