.banner {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    object-fit: fill;

    img {
        border-radius: 30px;
        height: 190px;
        filter: brightness(50%);
        max-width: 1300px;
    }

    span {
        position: absolute;
        top: 50%;
        color: white;
        font-weight: 500;
        font-size: 30px;
        transform: translateY(-50%);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 08);
    }
}