@import '../../scss/utils/mixins';

.banner {
    display: flex;
    justify-content: flex-start;
    position: relative;
    max-width: 1300px;
    margin: 0 0px 0 15px;
    object-fit: fill;

    @include tablet {
        justify-content: center;
        height: 120px;
    }

    @include desktop {
        display: flex;
        justify-content: center;
        position: relative;
        max-width: 1300px;
        margin: 0 auto;
        object-fit: fill;
    }

    img {
        border-radius: 10px;
        height: 100px;
        max-width: 95%;
        border-radius: 30px;
        filter: brightness(50%);

        @include tablet {
            max-width: 95%;
            height: 120px;
            width: 100%;
        }

        @include desktop {
            border-radius: 30px;
            filter: brightness(50%);
            max-width: 1500px;
            height: 175px;
            width: 100%;
        }
    }

    span {
        position: absolute;
        top: 50%;
        color: white;
        font-weight: 500;
        font-size: 20px;
        text-align: left;
        transform: translateY(-50%);
        margin-left: 15px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 08);
        max-width: 55%;

        @include tablet {
            font-size: 25px;
            transform: translateY(50%);
        }

        @include desktop {
            font-size: 30px;
        }
    }
}