@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.gallery-container {
    @include flex-container(row, center, center);
    justify-content: center;
    background-color: $white-color;
    margin: 15px auto;
    padding: 30px 0 10px 0;
    border-radius: 30px;
    max-width: 1300px;

    @include desktop {
        display: flex;
        justify-content: center;
        background-color: $lightgrey-color;
        margin: 80px auto 30px auto;
        padding: 30px 0 30px 0;
        border-radius: 30px;
        max-width: 1300px;
    }
}

.gallery {
    @include flex-container(row, center, center);

    &_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        cursor: pointer;

    &_item {
        justify-content: center;
        position: relative;
        height: 280px;
        width: 340px;
        margin: 0 15px 30px 15px;

    @include mobile {
        margin: 0 15px 10px 15px;
    }

    &_title {
        position: absolute;
        font-size: 18px;
        font-weight: 500;
        color: $white-color;
        bottom: 20px;
        left: 15px;
        z-index: 5;
        width: 70%;
        text-shadow: 0px 1px 3px rgb(0 0 0 / 97%);
    }

    &_image {
        width: 100%;
        height: 275px;
        @include border-radius;
    }
    }
    }
}

.orange-overlay {
    background-color: $orange-color;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 275px;
    @include border-radius;
    top: 0px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition: box-shadow 0.2s ease; 

    &:hover {
        opacity: 0.50;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}
