.gallery-container {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 40px 0;
    margin: 40px 160px;
    border-radius: 30px;
}

.gallery {
    display: flex;
    justify-content: center;

    &_list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 80%;

        &_item {
            position: relative;
            height: 280px;
            width: 340px;
            object-fit: cover;
            margin: 0 15px 30px 15px;
            

            &_title {
                position: absolute;
                font-size: 18px;
                font-weight: 500;
                color: white;
                bottom: 20px;
                left: 15px;
            }

            &_image {
                width: 100%;
                height: 275px;
                border-radius: 5px;
            
        }
    }
}}
